<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../lib/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../lib/persian-datepicker.min.css" />
    <link rel="stylesheet" href="../lib/iziToast.min.css" />
    <link rel="stylesheet" href="../src/css/index.css" />

    <title>Task</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Task</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Table</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 mb-4">
          <button type="button" class="btn add-btn" id="openModal">
            <img src="../icons/add.svg" width="32" height="32" />
          </button>
        </div>
        <div class="col-12">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Age</th>
                <th scope="col">Skills</th>
                <th scope="col">Abilties</th>
              </tr>
            </thead>
            <tbody id="infoTable"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <!-- Modal -->
  <div
    class="modal fade"
    id="createUserModal"
    tabindex="-1"
    aria-labelledby="createUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createUserModalLabel">Create</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text">First and last name</span>
              <input
                type="text"
                aria-label="First name"
                id="firstName"
                class="form-control"
              />
              <input
                type="text"
                aria-label="Last name"
                id="lastName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <label class="input-group-text" for="age">Age</label>
              <input
                type="text"
                class="age-input datepicker form-control"
                id="age"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <label class="input-group-text" for="skils">Skils</label>
              <select
                class="select2 skils-select form-control"
                id="skils"
                multiple="multiple"
              >
                <option value="Js">Js</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Jquery">Jquery</option>
                <option value="React">React</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submitInfo">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="editUserModal"
    tabindex="-1"
    aria-labelledby="editUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editUserModalLabel">Edit</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text">First and last name</span>
              <input
                type="text"
                aria-label="First name"
                id="editFirstName"
                class="form-control"
              />
              <input
                type="text"
                aria-label="Last name"
                id="editLastName"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <label class="input-group-text" for="age">Age</label>
              <input
                type="text"
                class="age-input datepicker form-control"
                id="editAge"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <label class="input-group-text" for="skils">Skils</label>
              <select
                class="select2 skils-select form-control"
                id="editSkils"
                multiple="multiple"
              >
                <option value="Js">Js</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Jquery">Jquery</option>
                <option value="React">React</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="editInfo">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="../lib/bootstrap.min.js"></script>
  <script src="../lib/persian-date.min.js"></script>
  <script src="../lib/persian-datepicker.min.js"></script>
  <script src="../lib/moment.js"></script>
  <script src="../lib/moment-jalaali.js"></script>
  <script src="../lib/iziToast.min.js"></script>
  <script src="../src/js/index.js"></script>
</html>
